---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: retroachievements
  labels:
    app.kubernetes.io/name: retroachievements
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: retroachievements
  template:
    metadata:
      labels:
        app.kubernetes.io/name: retroachievements
    spec:
      containers:
        - name: retroachievements
          image: retroachievements
          env:
            - name: GOWON_RA_USERNAME
              value: user
            - name: GOWON_RA_API_KEY
              value: api_key
            - name: GOWON_LASTFM_KV_PATH
              value: /tmp/kv.db
          ports:
            - containerPort: 8080
              name: http
